﻿@model IEnumerable<Gawader.Models.ShipsViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="PostShips">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShipName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfArrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnchorNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfItems)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfArrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnchorNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfItems)
            </td>
            <td>@*
                <a asp-action="Edit" asp-route-id="@item.ShipIndex">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ShipIndex">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ShipIndex">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>

