﻿@model Gawader.Models.ShipsViewModel

@{
    ViewData["Title"] = "PostShips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>PostShips</h1>

<h4>ShipsViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PostShips">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShipName" class="control-label"></label>
                <input asp-for="ShipName" class="form-control" />
                <span asp-validation-for="ShipName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipDescription" class="control-label"></label>
                <input asp-for="ShipDescription" class="form-control" />
                <span asp-validation-for="ShipDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipCapacity" class="control-label"></label>
                <input asp-for="ShipCapacity" class="form-control" />
                <span asp-validation-for="ShipCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfArrival" class="control-label"></label>
                <input asp-for="DateOfArrival" class="form-control" />
                <span asp-validation-for="DateOfArrival" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnchorNumber" class="control-label"></label>
                <input asp-for="AnchorNumber" class="form-control" />
                <span asp-validation-for="AnchorNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfItems" class="control-label"></label>
                <input asp-for="NumberOfItems" class="form-control" />
                <span asp-validation-for="NumberOfItems" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

