﻿@page
@model LoginModel

@{
	Layout = null;

	ViewData["Title"] = "Log in";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Gawader</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Gawader.styles.css" asp-append-version="true" />
	
  <link rel="stylesheet" type="text/css" href="~/css/util.css">
  <link rel="stylesheet" type="text/css" href="~/css/main.css">
  
  <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
<!--===============================================================================================-->  
  <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
</head>
<body>
	<h1>@ViewData["Title"]</h1>
	@*<div class="row">
		<div class="col-md-4">*@
			<div class="limiter">
			<div class="container-login100" style="background-image: url('/images/img-01.jpg');">
			<section>
				<form id="account" method="post">
					 <div class="login100-form-avatar">
                        <img src="~/images/avatar-01.jpeg" alt="AVATAR">
                    </div>

                    <span class="login100-form-title p-t-20 p-b-45">
                        Login to Gawder Port Management
                    </span>
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="wrap-input100 validate-input m-b-10">
						<input asp-for="Input.Email" class="form-control input100" autocomplete="username" aria-required="true" />
						<label asp-for="Input.Email" class="form-label"></label>
						<span asp-validation-for="Input.Email" class="text-danger"></span>
					</div>
					<div class="form-floating">
						<input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
						<label asp-for="Input.Password" class="form-label"></label>
						<span asp-validation-for="Input.Password" class="text-danger"></span>
					</div>
					<div>
						<div class="checkbox">
							<label asp-for="Input.RememberMe" class="form-label">
								<input class="form-check-input" asp-for="Input.RememberMe" />
								@Html.DisplayNameFor(m => m.Input.RememberMe)
							</label>
						</div>
					</div>
					<div>
						<button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
					</div>
					<div>
						<p>
							<a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
						</p>
						<p>
							<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
						</p>
						<p style=" display:none;">
							<a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
						</p>
					</div>
				</form>
			</section>
		</div></div>
		@*</div>
	</div>*@


	@section Scripts {
	<partial name="_ValidationScriptsPartial" />


	}

	<!--===============================================================================================-->
	<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/vendor/bootstrap/js/popper.js"></script>
	<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/js/main.js"></script>
</body>
</html>