﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h5>Create a new account.</h5>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <div class="form-floating">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="FirstName" aria-required="true" />
                <label asp-for="Input.FirstName"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
           <div class="form-floating">
                <input asp-for="Input.LastName" class="form-control" autocomplete="Lastname" aria-required="true" />
                <label asp-for="Input.LastName"></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            
           <div class="form-floating">
                <input asp-for="Input.DateOfBirth" class="form-control" autocomplete="off" aria-required="true" />
                <label asp-for="Input.DateOfBirth"></label>
                <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.CNIC" class="form-control" autocomplete="off" aria-required="true" />
                <label asp-for="Input.CNIC"></label>
                <span asp-validation-for="Input.CNIC" class="text-danger"></span>
            </div>
           <div class="form-floating">
                <input asp-for="Input.ContactNumber" class="form-control" autocomplete="off" aria-required="true" />
                <label asp-for="Input.ContactNumber"></label>
                <span asp-validation-for="Input.ContactNumber" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
